	<div layout="column" layout-align="center center">
	Login!
	<div>
	<md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
		KgApp
  	</md-content>
 	<!--<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">-->
    <form name="userForm">
        <md-input-container flex>
          <label>Email</label>
          <input type="email" ng-model="user.firstName">
        </md-input-container>
        <md-input-container flex>
          <label>Password</label>
          <input type="password" ng-model="user.password">
        </md-input-container> 
       <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>        
        <md-button md-no-ink class="md-raised md-primary">Login</md-button>
        <md-button md-no-ink class="md-accent" ng-href="/register">Registrase</md-button>
       </section>
    </form>
  <!--</md-whiteframe>  	-->
	  </div>
	</div>