	<div layout="column" layout-align="center center">
	Login!
	<div>
	<md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column">
		KgApp
  	</md-content>
 	<!--<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">-->
    <div ng-show="lc.error" class="md-warn">
      <small>{{ lc.error }}</small>
    </div>  
    <form name="loginform">

        <md-input-container flex>
          <md-icon md-svg-icon="content:ic_mail_24px" ></md-icon>
          <input type="email" ng-model="lc.credentials.email"  placeholder="Email (required)" ng-required="true">          
        </md-input-container>
        <md-input-container flex>
          <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
          <input type="password" ng-model="lc.credentials.password" placeholder="Password (required)" ng-required="true">
        </md-input-container> 
       <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>        
        <md-button md-no-ink class="md-raised md-primary" ng-click="loginform.$valid && lc.login()">Login</md-button>
        <md-button md-no-ink class="md-accent" ng-href="/register">Registrase</md-button>
       </section>
    </form>
  <!--</md-whiteframe>  	-->
	  </div>
	</div>