	<md-content md-theme="docs-dark" layout-padding layout="column" layout-sm="column" layout-align="center center">
		 <br><br>
        <img ng-src="/images/atom.png" class="md-card-image" alt="aTOM" height="100px" width="100px" align="center">
  	</md-content>
 	<!--<md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">-->
    <div layout="column" layout-align="center center">
    <small>Bienvenido a KgApp!</small>
      <br>
  <div>
    <div ng-show="lc.error" class="md-warn">
      <small>{{ lc.error }}</small>
    </div>  
    <form name="loginform">

        <md-input-container flex>
          <md-icon md-svg-icon="content:ic_mail_24px" ></md-icon>
          <input type="email" ng-model="lc.credentials.email"  placeholder="Email (required)" ng-required="true">          
        </md-input-container>
        <md-input-container flex>
          <md-icon md-svg-icon="action:ic_lock_open_24px"></md-icon>
          <input type="password" ng-model="lc.credentials.password" placeholder="Password (required)" ng-required="true">
        </md-input-container> 
       <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>        
        <md-button md-no-ink class="md-raised md-primary" ng-click="loginform.$valid && lc.login()" width="450px">Login</md-button>
        <md-button md-no-ink class="md-accent" ng-href="/register">Registrase</md-button>        
       </section>
       
    </form>
  <!--</md-whiteframe>  	-->

	  </div>
	</div>