	<md-content  layout="column"  flex layout-align="top center" style="height:100%">
      
      <br><br>
 
      <div layout="column" layout-align="center center">
            <img ng-src="/images/atom.png" class="md-card-image" alt="aTOM" height="100px" width="100px" align="center">
      <div class="md-body-2"></div>
        <br><br>

<div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial md-open="lo.isOpen" md-direction="down"  class="md-fling" ng-mouseenter="lo.showOpt()" ng-mouseleave="lo.hideOpt()">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn" ng-click="lo.toggleCustom()">
            <md-tooltip md-direction="top">Login</md-tooltip>
            <md-icon md-svg-src="/images/icons/ic_account_circle_black_24px.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
         <md-button ng-click="lo.access()" aria-label="Email" class="md-fab md-raised md-mini">
            <md-tooltip md-direction="left">Email</md-tooltip>
            <md-icon md-svg-src="/images/icons/lock_24px.svg" aria-label="Email"></md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
            <md-tooltip md-direction="right">Facebook</md-tooltip>
            <md-icon md-svg-src="/images/icons/facebook_24px.svg" aria-label="Facebook"></md-icon>
          </md-button>
          <md-button aria-label="Google" class="md-fab md-raised md-mini">
            <md-tooltip md-direction="left">Google</md-tooltip>
            <md-icon md-svg-src="/images/icons/google_24px.svg" aria-label="Google"></md-icon>
          </md-button>
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
            <md-tooltip md-direction="right">Twitter</md-tooltip>
            <md-icon md-svg-src="/images/icons/twitter_24px.svg" aria-label="Twitter"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>
    <div layout="column" ng-show="!lo.isOpen" layout-align="center center" class="animate-show"> 
      <a class="md-primary md-body-1" href="/" ><small >¿Olvidaste tu contraseña?</small></a>
      <a class="md-primary md-body-1" href="/register"><small>Registrate en aTOM</small></a>
    </div>  
    </div>  
    </md-content>
