    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button  hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <h1>Hello World</h1>
      </div>
   </md-toolbar>
	<div layout="column" layout-align="center center" md-theme="home">
	<h1>Home! {{currentUser.profile.name}}</h1>	
	</div>
<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>       	
      	<md-button md-no-ink class="md-accent" ng-click="hc.logout()">SALIR</md-button>
  </section>