	<md-content  layout="column"  flex layout-align="center center" style="height:100%">
        <img ng-src="/images/atom.png" class="md-card-image" alt="aTOM" height="100px" width="100px" align="center">
      <div layout="column" layout-align="center center">
      <div class="md-body-2"></div>
        <br><br><br>
      <div>
      <md-fab-speed-dial md-open="false" md-direction="down" ng-class="md-scale">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-tooltip md-direction="top">Login</md-tooltip>
            <md-icon md-svg-src="/images/icons/ic_account_circle_black_24px.svg"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-fab-actions>
          <md-button aria-label="Email" class="md-fab md-raised md-mini">
            <md-tooltip md-direction="top">email && passwd</md-tooltip>
            <md-icon md-svg-src="/images/icons/ic_email_black_24px.svg" aria-label="Email"></md-icon>
          </md-button>
          <!--
          <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
          </md-button>
          <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
          </md-button>
          <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
            <md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
          </md-button>
          -->
        </md-fab-actions>
      </md-fab-speed-dial>
      	</div>
	</div>
    <br><br>
      </md-content>